name: Docker Image CI

on:
  push:
    branches:
      - master

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository }}:${{ github.event_name }}:${{ github.sha }}:latest .

      - name: Push Docker image
        run: docker push ghcr.io/${{ github.repository }}:${{ github.event_name }}:${{ github.sha }}:latest

  cleanup_old_images:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Login to GitHub Container Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Cleanup older images
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}
          ALL_IMAGES=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep $IMAGE_NAME | sort -r)
          OLD_IMAGES=$(echo "$ALL_IMAGES" | sed -n '6,$p')
          
          if [ -n "$OLD_IMAGES" ]; then
            echo "Removing older images:"
            echo "$OLD_IMAGES" | xargs -I {} docker rmi {}
          else
            echo "No older images to remove."
          fi
